<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Curso Vue.JS - Exercicio 001</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

    <div id="app" :title="Exercicio"> <!-- <Forma mais usada para uso do bind :> -->
            <!-- <span style="color: blue;"><h1 v-text="Exercicio"></h1></span> -->
            <titulo :titulo="Exercicio" cor="blue"></titulo>
            
            <h4>Nome: </h4>
            <h4><input type="text" name="nome" value="" v-model="nome" /></h4>

            <h4>Em qual unidade você está alocado ? </h4>
        
            <form action="#" method="POST">
                <select name="selectlocal" id="selectlocal" v-model="sedeselecionada">
                    <option value="">Selecione sua sede</option>
                    <option :value="local" v-for="local in locais" :key="local.codigo" v-text="local.nome"></option>
                </select>

                <h4>Atividades na Empresa: </h4>

                <textarea name="atividades" rows="5" cols="80" v-model="atividades">Informe suas atividades.</textarea><br><br>

                <input type="button" v-on:click="mostradados" value="Mostrar" /><br><br>
            </form>                         

            <div v-if="exibedados" style="border: 1px solid black;">
                <!-- <h2 style="color: red;">Resultados </h2> -->
                <!-- <titulo2></titulo2> -->
                <titulo v-bind:titulo="titulo" cor="red"></titulo>
                <p><strong>Nome: </strong>{{nome}}</p>
                <p><strong>Unidade: </strong>{{sedeselecionada.nome}}</p>
                <p><strong>Ativades: </strong>{{atividades}}</p>
                <br>
            </div>
        </div>    

    <script type="text/javascript">

        Vue.component('titulo',
            {   props: ['titulo','cor'], /* Propriedades(prop) criadas para reutilização no sistema */
                /* template: '<h1 style="color: blue;">{{titulo}}</h1>' */
                template: '<h1 v-bind:style= "{color: cor}"> {{titulo}} </h1>' /* template: '<h1 :style= "{color: cor}"> {{titulo}} </h1>'  */
            });

        /* Vue.component('titulo2',
            {template: '<h1 style="color: red;">Resultado</h1>'
            }); */

        var app = new Vue({
        el: '#app',
        data: {
            Exercicio: 'Curso de Vue.JS - Exercicio 1',            
            titulo: "Resultado Exercicio 001",
            atividades: "",
            nome: "",
            locais: [
                {"nome": "Tupis","codigo": 1},
                {"nome": "Catalão","codigo": 2}, 
                {"nome": "Bhtrans","codigo": 3} 
                ],
            sedeselecionada: "",
            exibedados: false

        },
        methods: {
            mostradados(){
                if(this.nome === "" || this.sedeselecionada === "" || this.atividades === ""){
                    alert("Favor preencher todos os dados!");
                    this.exibedados = false;
                }                
                else
                {
                    this.exibedados = true;
                }                
            }
            
        }
        });


    </script>
</body>
</html>